@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --dark-category-accent-color: #eac645;
  --light-category-accent-color: #4f2ee8;
  --dark-background-color: #202024;
  --light-background-color: #f6f6f6;
  --text-color: #111111;
  --light-lift-color: #e0e0e0;
  --titles-color: #b4afaf;

  --btn-accent-color: #404bbf;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--text-color);
  background-color: #f3f3f3;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    padding: 0 24px;
  }
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .main-wrapper {
    flex-direction: row;
    gap: 40px;
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.accent-color {
  color: var(--light-category-accent-color);
}

.hidden {
  display: none;
  visibility: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
