.top-books-wrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

.top-books-category-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--titles-color);
}

.top-books-category-wrap {
  display: flex;
  flex-direction: column;
}

.top-books-category-list {
  margin-top: 18px;
}

.top-books-category-item {
  width: 100%;
}

.top-books-category-item-img-wrap {
  position: relative;
  width: 100%;
  scale: 100%;
  max-height: 485px;
  overflow: hidden;
  border-radius: 8px;

  box-shadow: 2px 2px 6px rgb(128, 128, 128);

  transition: scale 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.top-books-category-item-img-wrap.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-books-category-item-link {
  width: 100%;
}

.top-books-category-item-link:is(:hover, :focus)
  > .top-books-category-item-img-wrap {
  scale: 105%;
}

.top-books-category-item-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.book-img-overlay {
  position: absolute;
  padding: 26px 0;
  width: 100%;
  transform: translateY(100%);
  bottom: 0;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-color);

  background-color: var(--dark-category-accent-color);

  transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.top-books-category-item-link:is(:hover, :focus) .book-img-overlay {
  transform: translateY(0);
}

.top-books-category-item-title {
  margin-top: 14px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--text-color);
}

.top-books-category-item-author {
  margin-top: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em;
  letter-spacing: -0.04em;
  font-style: italic;

  color: var(--titles-color);
}

.top-books-category-btn {
  margin-top: 8px;
  margin-left: auto;
  max-width: 128px;
  padding: 14px 28px;
  transform: scale(1);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.29em;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--light-category-accent-color);
  border-radius: 40px;

  cursor: pointer;

  transition: transform 400ms cubic-bezier(0.165, 0.84, 0.44, 1),
    color 400ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.top-books-category-btn:is(:hover, :focus) {
  transform: scale(1.04);
  color: #ffffff;
  background-color: var(--light-category-accent-color);
}

@media screen and (min-width: 768px) {
  .top-books-category-title {
    line-height: 1.71em;
  }

  .top-books-category-list {
    display: flex;
    justify-content: space-between;
  }

  .top-books-category-item {
    width: calc((100% - 25px * 2) / 3);
  }

  .top-books-category-item-img-wrap {
    height: 316px;
  }

  .top-books-category-btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .top-books-category-item {
    width: calc((100% - 25px * 4) / 5);
  }

  .top-books-category-item-img-wrap {
    height: 256px;
  }

  .top-books-category-btn {
    margin-top: 32px;
  }
}
