.top-books-wrap {
  padding-top: 40px;
}

.top-books-category-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29em;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #b4afaf;
}

.top-books-category-wrap {
  display: flex;
  flex-direction: column;
}

.top-books-category-list {
  margin-top: 18px;
}

.top-books-category-item {
  width: 100%;
}

.top-books-category-item-img-wrap {
  width: 100%;
  scale: 100%;
  height: 485px;
  overflow: hidden;
  border-radius: 8px;

  box-shadow: 2px 2px 6px rgb(128, 128, 128);

  transition: scale 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.top-books-category-item-link {
  width: 100%;
}

.top-books-category-item-link:is(:hover, :focus)
  > .top-books-category-item-img-wrap {
  scale: 105%;
}

.top-books-category-item-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.top-books-category-item-title {
  margin-top: 14px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.125em;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: #111111;
}

.top-books-category-item-author {
  margin-top: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17em;
  letter-spacing: -0.04em;
  font-style: italic;

  color: #b4afaf;
}

.top-books-category-btn {
  margin-top: 8px;
  margin-left: auto;
  max-width: 128px;
  padding: 14px 28px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.29em;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #111111;
  background-color: transparent;
  border: 2px solid #4f2ee8;
  border-radius: 40px;

  cursor: pointer;

  transition: scale 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.top-books-category-btn:is(:hover, :focus) {
  scale: 104%;
  color: #ffffff;
  background-color: #4f2ee8;
  border: 2px solid transparent;
}

@media screen and (min-width: 768px) {
  .top-books-category-title {
    line-height: 1.71em;
  }

  .top-books-category-list {
    display: flex;
    justify-content: space-between;
  }

  .top-books-category-item {
    width: calc((100% - 25px * 2) / 3);
  }

  .top-books-category-item-img-wrap {
    height: 316px;
  }

  .top-books-category-btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .top-books-category-item {
    width: calc((100% - 25px * 4) / 5);
  }

  .top-books-category-item-img-wrap {
    height: 256px;
  }

  .top-books-category-btn {
    margin-top: 32px;
  }
}
