.categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 228px;

  text-align: left;
  overflow-y: auto;
}

.categories-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125em;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.6);
  transition: color 0s, font-weight 0s;
}

.categories-item.active {
  font-weight: 700;
  color: var(--light-category-accent-color);
  text-transform: uppercase;
  transition: color 0s, font-weight 0s;
}

.categories-item:is(:hover, :focus) {
  text-decoration: underline;
}

.categories-list-link {
  display: block;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  height: 114px;
  border-radius: 12px;
  background: var(--light-lift-color);
}

@media screen and (min-width: 768px) {
  .categories-list {
    width: 335px;
    height: 472px;
    gap: 32px;
  }

  .categories-item {
    font-size: 18px;
    line-height: 1.33em;
  }

  ::-webkit-scrollbar-thumb {
    height: 167px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-list {
    width: 356px;
  }
}
