.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4000;
}

.header__container {
  max-width: 375px;
  display: flex;
  padding: 17px 19px;
  margin: 0 auto;
  align-items: center;
  border: 1.5px solid var(--text-color);
  border-radius: 0px 0px 8px 8px;
  background-color: var(--button-accent-text-color);
}

@media screen and (min-width: 768px) {
  .header__container {
    max-width: 768px;
    padding: 13px 31px;
  }
}

@media screen and (min-width: 1440px) {
  .header__container {
    max-width: 1440px;
    padding: 13px 23px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

@media screen and (min-width: 1440px) {
  .header-nav {
    gap: 76px;
  }
}

.logo {
  display: flex;
  text-decoration: none;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
}

.logo-img {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .home-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .home-nav {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .home-nav {
    gap: 24px;
  }
}

.nav-btn {
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 36px;
  cursor: pointer;
}

.nav-btn:hover,
.nav-btn:focus,
.shpng-list-btn:hover,
.shpng-list-btn:focus {
  text-decoration: underline;
}

.header-home .nav-btn {
  background-color: var(--dark-category-accent-color);
}

.header-shoping-list .nav-btn {
  color: var(--text-color);
  padding: 0;
}

.shpng-list-btn {
  color: var(--text-color);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
  padding: 8px 16px;
  font-size: 14px;
}

.header-home .shpng-list-btn {
  padding: 0;
}

.header-shoping-list .shpng-list-btn {
  background-color: var(--dark-category-accent-color);
  border-radius: 36px;
}

.shpng-list-logo {
  vertical-align: sub;
}

.theme-switch {
  display: block;
  position: relative;
  height: 20px;
  width: 40px;
  /* top: -16px; */
}

.theme-switch input {
  display: none;
}

.slider {
  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  bottom: 0;
  cursor: pointer;
  height: 20px;
  width: 40px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.9s;
}

.slider:before {
  content: '';
  position: absolute;
  background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
    1px 2px 4px rgba(0, 0, 0, 0.1);
  left: 1px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background-color: #202024;
  background: linear-gradient(#4f2ee8 60%, #686868 100%);
}

input:checked + .slider:before {
  transform: translateX(20px);
  background-color: #000;
}

.slider.round {
  border-radius: 80px;
}

:before {
  border-radius: 50%;
}

.menu-btn {
  height: 28px;
  background-color: transparent;
  border: none;
}

.js-open-menu {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .js-open-menu {
    display: none;
  }
}

.mob-menu-close-btn {
  display: none;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
}

.mob-menu-close-btn.show {
  display: block;
}

/* !!!!!!!!!!!!!!!            BTN USER        !!!!!!!!!!!!!!!!!!!!!!!!  */
.btn-user {
  display: flex;
  align-items: center;
  padding: 4px 20px 4px 12px;
  /* justify-content: flex-start; */
  gap: 12px;
  /* width: 184px; */
  /* height: 45px; */
  border-radius: 36px;
  /* cursor: pointer; */
  background-color: var(--light-category-accent-color);
  border: none;
  cursor: pointer;
}

.btn-user-label {
  text-align: center;
  color: var(--button-accent-text-color);
  font-size: 19px;
  font-weight: bold;
  color: var(--button-accent-text-color);
}

@media (max-width: 767px) {
  .btn-user {
    display: none;
  }
}

/* !!!!!!!!!!!!!!!!!              BURGER -MENU           !!!!!!!!!!!!!!!!!!!!! */
.burger:hover,
.burger:focus {
  fill: var(--light-category-accent-color);
}

.close-mob-menu:hover,
.close-mob-menu:focus {
  fill: var(--light-category-accent-color);
}





.mob-menu-container {
    position: fixed;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-image: url('/src/images/backgrounds/background.png'), 
      radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 380px, 0 0;
    z-index: 998;
    display: flex;
    flex-direction: column;
    margin: 0;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*   top: 100%; */
/*   transition: transform 250ms ease-in-out; */

}


.mob-menu-container.is-open {
  transform: translateX(0);
  top: 64px;
}

@media screen and (min-width: 768px) {
  .mob-menu-container.is-open {
    top: 72px;
  }
}

.menu-header {
  height: 72px;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
  background-color: var(--button-accent-text-color);
  padding: 18px 20px;
}

.mob-menu-list {
  margin-top: 183px;
  margin-left: 129px;
}

.mob-menu-list__link {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 0;
  width: fit-content;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;

  color: var(--button-accent-text-color);
  background: transparent;
  border-radius: 36px;
  cursor: pointer;
}

.mob-menu-list__link.current {
  padding: 8px 16px;
  font-weight: 700;
}

.mob-menu-close-btn {
  border: none;
  background: none;
}

.current {
  background: var(--dark-category-accent-color);
  color: #111111;
  border-radius: 36px;
}

.switch {
  margin-left: auto;
  margin-right: 14px;
  display: flex;
}

@media screen and (min-width: 768px) {
  .switch {
    margin-right: 24px;
  }
}

.mob-menu__icon {
  padding-left: 4px;
  fill: var(--button-accent-text-color);
}
