.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 24px;
  font-size: 20px;
  opacity: 0.75;
  color: var(--light-category-accent-color);
}

.loader-img {
  width: 48px;
  height: 48px;
  border: 5px solid var(--light-category-accent-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@media screen and (min-width: 768px) {
  .loader {
    gap: 32px;
    margin-top: 32px;
    font-size: 24px;
  }

  .loader-img {
    width: 64px;
    height: 64px;
    border: 7px solid var(--light-category-accent-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@media screen and (min-width: 1440px) {
  .loader {
    gap: 40px;
    margin-top: 40px;
    font-size: 28px;
  }

  .loader-img {
    width: 72px;
    height: 72px;
    border: 8px solid var(--light-category-accent-color);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
