/* ================MODAL MOBILE================ */
* {
  margin-bottom: 0;
  /* padding: 0; */
}

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  font-family: 'DM Sans', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 335px;
  height: 762px; */

  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 24px;
}

.modal-close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.book-item {
  display: flex;
  flex-direction: column;
}

.book-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-details {
  text-align: left;
  margin-right: auto;
}
.book-name {
  color: (--text-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.12;
  letter-spacing: -0.64px;
  margin-top: 14px;
}

.book-author {
  color: #b4afaf;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -0.48px;
  margin-top: 4px;
}

.book-description {
  color: (--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-top: 18px;
  height: 70px;
  overflow-y: auto;
}

.online-stores {
  display: flex;

  justify-content: left;
  gap: 20px;
  margin-top: 14px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.add-list-btn {
  color: (--text-color);
  background-color: white;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;
  padding: 14px 28px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  text-align: center;
  min-width: 211px;
  min-width: 279px;
}

.add-list-btn:hover,
.add-list-btn:focus {
  color: #ffffff;
  background-color: #4f2ee8;
}

.add-list-btn:hover:not(:focus),
.add-list-btn:focus:not(:hover),
.add-list-btn:active,
.add-list-btn:active:focus {
  color: initial;
  background-color: initial;
}

.hover-effect {
  color: #ffffff;
  background-color: #4f2ee8;
}

.online-stores {
  display: flex;
  align-items: center;
}
.book-cover {
  max-width: 287px;
  max-height: 408px;
}

.add-list-btn-text {
  color: rgba(17, 17, 17, 0.5);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.4px;
  width: 242px;
  height: 36px;
  margin-top: 8px;
}

.close-item-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 1;
  color: black;
  fill: black;
  stroke: black;
}
.close-item-btn:hover {
  opacity: 1;
}
.close-item-btn:before,
.close-item-btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: black;
}
.close-item-btn:before {
  transform: rotate(45deg);
}
.close-item-btn:after {
  transform: rotate(-45deg);
}

/* ======================================== */

@media screen and (min-width: 768px) {
  .modal {
    padding: 40px;
  }

  .book-item-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
  }

  .book-item {
    display: flex;
    flex-direction: column;
  }

  .add-list-btn {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.18px;
    width: 499px;
    padding-top: 20px;
    padding-bottom: 20px;
    white-space: nowrap;
  }
  .book-cover {
    max-width: 192px;
    max-height: 281px;
  }

  .book-name {
    margin-top: 0;
    max-width: 260px;
  }
  .modal-close-btn {
    top: 24px;
    right: 24px;
  }

  .add-list-btn-text {
    font-size: 12px;
    line-height: 1.16;
  }
}
