.scroll-up-btn {
  background-color: var(--light-category-accent-color);
  border: 5px solid #c3b9f1;
  border-radius: 50%;
  color: #ffffff;
  cursor: pointer;
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .scroll-up-btn {
    right: 0px;
    left: 30px;
  }
}

.show-scroll-up-btn {
  opacity: 1;
  transform: translateY(0);
}
