a {
  text-decoration: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 104px;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .sidebar {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 112px;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    flex-direction: column;
    max-width: 356px;
    justify-content: start;
    gap: 86px;
  }
}
