<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-close-icon" width="8" height="8">
        <use href="./images/icons.svg#icon-close-modal"></use>
      </svg>
    </button>

    <div class="book-item">
      <div class="book-item-content">
        <div class="img-container">
          <img src="./book-cover.png" alt="book cover" />
        </div>

        <div class="book-details">
          <h2 class="book-name">HELLO BEAUTIFUL</h2>
          <h3 class="book-author">Ann Napolitano</h3>
          <p class="book-description">
            In a homage to Louisa May dark past resurfaces as he gets to the
            know the family of his college sweetheart.
          </p>
          <ul class="online-stores">
            <li class="online-shop-item">
              <a href="" class="online-store-link">
                <svg class="online-store-icon" width="16" height="16">
                  <use href=""></use>
                </svg>
              </a>
            </li>
            <li class="online-shop-item">
              <a href="" class="online-store-link">
                <svg class="online-store-icon" width="16" height="16">
                  <use href=""></use>
                </svg>
              </a>
            </li>
            <li class="online-shop-item">
              <a href="" class="online-store-link">
                <svg class="online-store-icon" width="16" height="16">
                  <use href=""></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="button-container">
        <button type="button" class="add-list-btn">Add to shopping list</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="test-btn">CLICK ME</button>
