<section class="support-ukraine-container">
  <div class="support-ukraine-header">
    <h2 class="support-ukraine-title">Support Ukraine</h2>
    <svg class="support-ukraine-emblem">
      <use href="./images/sprite.svg#icon-herb-tryzub"></use>
    </svg>
  </div>
  <div class="fund-list-visible my-swiper">
    <ul class="fund-list swiper-wrapper"></ul>
  </div>

  <!-- Button swiper down -->
  <div class="support-ukraine-button">
    <button class="fund-scroll-down swiper-button-down" type="button">
      <svg class="button-arrow-down">
        <use href="./images/sprite.svg#icon-down-vector"></use>
      </svg>
    </button>

    <!-- Button swiper up -->
    <button class="fund-scroll-up swiper-button-up" type="button">
      <svg class="button-arrow-up">
        <use href="./images/sprite.svg#icon-down-vector"></use>
      </svg>
    </button>
  </div>
</section>
