[data-theme='dark'] main{

    background-color: var(--dark-background-color);
    transition: 0.3s;
  }

  [data-theme='light'] main{
        transition: 0.3s;
  }
  
    
  [data-theme='dark'] .gallery-title {
      color: var(--light-background-color);
    }
        
    
    [data-theme='dark'] .categories-item{
      color: var(--button-accent-text-color);
    }
    
    [data-theme='dark'] .active {
      color: var(--dark-category-accent-color);
      
    }

    [data-theme='dark'] .top-books-category-item-title {
      color: var(--button-accent-text-color);
    }

    [data-theme='dark'] .top-books-category-btn{
      color: var(--button-accent-text-color);
    }
    /* [data-theme='dark'] .top-books-category-btn:is(:hover, :focus){
      background-color: var(--dark-category-accent-color);
    } */

    [data-theme='dark'] .modal{
        background-color: var(--dark-background-color)
    }
    
    [data-theme='dark'] .add-list-btn{
background-color: inherit;
color: var(--button-accent-text-color);
    }

    [data-theme='dark'] .book-name{
color: var(--button-accent-text-color);
    }

   .add-list-btn:hover:not(:focus){
background-color: var(--light-category-accent-color);
color: var(--button-accent-text-color);
    }

    [data-theme='dark'] .book-description{
      color: var(--button-accent-text-color);
    }

    [data-theme='dark'] .logo-text{
      color: #f3f3f3;
    }

    [data-theme='dark'] .header{
      background-color: var(--text-color);
    }

    [data-theme='dark'] .item-text{
      color: var(--button-accent-text-color);
    }

    [data-theme='dark'] .shpng-list-logo{
fill: var(--button-accent-text-color);
    }

    [data-theme='dark'] .footer{
      background-color: var(--dark-background-color);
    }

    [data-theme='dark'] .footer-copyright{
      color: var(--button-accent-text-color);
    }

    [data-theme='dark'] ::-webkit-scrollbar-thumb {
      background: var(--text-color);
      

    }
    ::-webkit-scrollbar-thumb{
      background: #E0E0E0;
      
    }
